<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>3117428222-90sr9er5udle6c35rteq17dtsght6v1k.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.3117428222-90sr9er5udle6c35rteq17dtsght6v1k</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>3117428222-d86hfsd15vd1h6s932s1bsst8s05okjs.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyB_m8U9rYKUqkbiu1cOlNmApjV2_MjN2Ag</string>
		<key>GCM_SENDER_ID</key>
		<string>3117428222</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>uz.simpl.dtmtest</string>
		<key>PROJECT_ID</key>
		<string>dtmtest-49703</string>
		<key>STORAGE_BUCKET</key>
		<string>dtmtest-49703.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:3117428222:ios:d386947c0363400b60e4af</string>
	</dict>
</plist>